<!-- all-blocs.component.html -->
<div>
    <h1>all-blocs works!</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID Bloc</th>
                <th>Nom du Bloc</th>
                <th>Capacité du Bloc</th>
                <th>Nom du Foyer</th>
                <th>Modifier</th> <!-- Ajout de la colonne pour le nom du foyer -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bloc of blocs">
                <td>{{ bloc.idBloc }}</td>
                <td>{{ bloc.nomBloc }}</td>
                <td>{{ bloc.capacityBloc }}</td>
                <td>{{ bloc.foyer?.nomFoyer }}</td> 
                <td>
                    <button class="btn btn-primary" >modifier</button>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="DeleteBloc(bloc)">Supprimer</button>
                </td>
                <!<!-- Afficher le nom du foyer -->
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" type="submit">Button</button>
</div>